a:focus {
  background-color: transparent;
}

h2 {
  margin-bottom: 0;
}

h3 {
  color: var(--primary);
}

body > footer {
  text-align: center;
}

.theme {
  color: var(--contrast)
}

/*
body > nav {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(20px);
  background-color: var(--nav-background-color);
  box-shadow: 0 1px 0 var(--nav-border-color);
}
*/