body > header {
  text-align: center;
}

header > svg {
  max-width: 270px;
  max-height: 270px;
}

header > h2 {
  font-family: 'Geo', sans-serif;
}

body > main {
  display:block;
  flex-direction: row;
  justify-content: center;
}

td > a {
  color: #606c76;
}

body > footer {
  text-align: center;
}

footer > a {
  color: #606c76;
}
