nav {
  flex-direction: column;
}

nav ul.links {
  align-self: flex-end;
}

a:focus {
  background-color: transparent;
}

h2 {
  margin-bottom: 0;
}

h3 {
  color: var(--primary);
}

body > footer {
  text-align: center;
}

.theme {
  color: var(--contrast);
}

.image {
  width: 20%;
  min-width: 20%;
  max-width: 20%;
}

.image > img {
  border-radius: 25%;
  width: 100%;
}

@media (min-width: 576px) {
  :root {
    
  }
}

@media (min-width: 768px) {
  :root {
    
  }

  nav {
    flex-direction: row;
  }

  nav ul.links {
    align-self: center;
  }

  .image {
    width: 100px;
    min-width: auto;
    max-width: none;
  }
}

@media (min-width: 992px) {
  :root {
    
  }
}

@media (min-width: 1200px) {
  :root {
    
  }
}
