<p>
    <a href="mailto:hello@onlypremium.games">Hello</a>, I'm Marek from Slovakia, and I play
    <span style="color: #00aaff">only</span>
    <span style="color: #0088ff">premium</span>
    <span style="color: #0066ff">games</span>
    on my iPhone and iPad. After finishing a few, I started keeping a private list. Once I finished more than
    300, I decided to share my <a href="index.html">list</a> online along with my ratings and thoughts.
    Every now and then, I write a <a href="blog.html">blog</a> post about them.
    And recently, I enjoy <a href="beta.html">beta</a> testing them.
    By finishing, I mean I've seen the "thanks for playing" screen or the credits roll. And by premium, I mean
    games I pay for upfront to get the full experience. I'm also fine with trying games for free and then paying
    to unlock content. I consider games available through subscription services like Apple Arcade&trade; or
    Netflix&trade; premium as well. However, I avoid games that include purchases to remove ads or use double
    currencies. There are a few exceptions in my list, each with its own reason.
</p>